/* 
1. Posicionamiento
2. Modelo de caja(box model)
3. Tipografía
4. Visuales
5. Otros
*/
:root {
	--bitcoin-orange: #f7931a;
	--soft-orange: #ffe9d5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #201e1c;
	--black: #282623;
	--gray: #bababa;
	--off-white: #faf8f7;
	--just-white: #ffffff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	font-family: "DM Sans", sans-serif;
	scroll-behavior: smooth;
}
header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 320px;
	height: 334px;
	text-align: center;
	background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
	width: 150px;
	height: 24px;
	margin-top: 60px;
	align-self: center;
}
/* body {
	overflow-y: scroll;
	overflow-x: hidden;
} */

.header--title-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 40px;
	align-self: center;
}
.header--title-container h1 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}
.header--title-container p {
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}
.header--title-container .header--button {
	position: absolute;
	left: calc(50% - 118px);
	top: 270px;
	display: block;
	margin-top: 35px;
	padding: 15px;
	width: 229px;
	height: 48px;
	background-color: var(--off-white);
	/* Sombra */
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}
.header--button span {
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url("./assets/icons/down-arrow.png");
}

main {
	width: 100%;
	height: auto;
	background-color: var(--off-white);
}
/* tablas */
/* monedas */
.main-exchange-container {
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 30px;
	text-align: center;
}
.main-exchange-container--title {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	margin: 0 auto;
}
.main-exchange-container .backgroundImg {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px;
	background-image: url("./assets/img/Bitcoin.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-exchange-container h2 {
	margin-bottom: 30px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: val(--black);
}
.main-exchange-container p {
	margin-bottom: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #757575;
}
.main--table-slide {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-left: 10px;
	/* scroll-behavior: contain; */
	scroll-snap-type: x proximity;
	justify-content: center;
}
.table-slide {
	display: inline-block;
}

.main--table-container {
	font-family: "Inter", monospace;
	scroll-snap-align: center;
	/* width: 235px; */
	/* height: 194px; */
}
.main--table-container .main--grid-container {
	width: 235px;
	height: 194px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	background: var(--just-white);
	border-radius: 8px;
	color: #b5b0ac;
}

.main--table-container .main--table-title {
	font-family: "DM Sans", sans-serif;
	color: #ff9536;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.344rem;
	width: 60%;
	margin: 0 auto 12px auto;
	padding-left: 15px;
	text-align: left;
}

.main--table-container .main--grid-container .main--grid-child {
	border-bottom: 1px solid var(--off-white);
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.936rem;
	padding: 10px 12px;
	text-align: left;
}
.main--table-container .main--grid-container .value {
	color: #757575;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.694;
	text-align: center;
}

.main--table-container .main--grid-container .up {
	display: inline-block;
	width: 13px;
	height: 8px;
	background-image: url("./assets/icons/trending-up.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5px;
}
.main--table-container .main--grid-container .down {
	display: inline-block;
	width: 13px;
	height: 8px;
	background-image: url("./assets/icons/trending-down.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5px;
}
.main--table-container .main--table-update {
	color: var(--warm-black);
	/* width: 55%; */
	width: 235px;
	margin: 0 auto;
	border-radius: 8px;
	background-color: var(--soft-orange);
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.452rem;
	margin-top: 16px;
	padding: 8px;
}
/* Comisiones */

.main--table-container .main--table-title-second {
	font-family: "DM Sans", sans-serif;
	color: #1a9af7;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.344rem;
	width: 60%;
	margin: 0 auto 12px auto;
	padding-left: 15px;
	text-align: left;
}
.main--table-container .main--table-update-second {
	color: var(--warm-black);
	/* width: 55%; */
	width: 235px;
	margin: 0 auto;
	border-radius: 8px;
	background-color: var(--soft-blue);
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.452rem;
	margin-top: 16px;
	padding: 8px;
}
/* Seccion de detalles del producto */

.main-product-detail {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: auto;
	padding: 20px 10px;
	background-color: var(--warm-black);
}

.product-detail--batata-logo {
	position: absolute;
	width: 40px;
	height: 25px;
	top: -10px;
	/*la parte de -20 es por que posiciona la imagen en el 
	centro desde el borde de la imagen y la queremos centrada*/
	left: calc(50% - 20px);
	background-image: url("assets/icons/batata.png");
}
.product-detail--title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
.product-detail--title h2 {
	margin-top: 20px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}
.product-detail--title p {
	margin-bottom: 20px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}
.product-detail-card {
	width: 90%;
	min-width: 288px;
	max-width: 400px;
	height: 150px;
	margin: 15px auto;
	padding: 15px;
	background-color: var(--black);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail-card .icon-card {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.product-detail-card .clock {
	background-image: url("./assets/icons/clock.png");
}
.product-detail-card .eye {
	background-image: url("./assets/icons/eye.png");
}
.product-detail-card .dollar {
	background-image: url("assets/icons/dollar-sign.png");
}
.product-detail-card .circle {
	background-image: url("assets/icons/check-circle.png");
}
.product-card-title {
	color: var(--just-white);
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.8rem;
}
.product-card-body {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}
.bitcoin-img-container {
	width: 100%;
	min-width: 320px;
	height: 50vh;
	background-image: url("./assets/img/bitcoinbaby2x.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
.bitcoin-img-container h2 {
	padding-top: 60px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}
.main-plans-container {
	width: 100%;
	min-width: 320px;
	padding-bottom: 70px;
	text-align: center;
}
.plans--title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
}
.plans--title h2 {
	padding-top: 50px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: val(--black);
}
.plans--title p {
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #757575;
}
.plans-container--slider {
	/* display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	height: 316px;
	justify-content: center;
	scroll-snap-type: x proximity; */
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.plans-container--card {
	/* flex: 0 0 auto; */
	display: inline-block;
	/* scroll-snap-align: center; */
	width: 70%;
	min-width: 190px;
	max-width: 300px;
	height: 250px;
	margin: 50px 5px 0;
	padding: 0 15px;
	background-color: var(--just-white);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recomendado {
	/* width: 120px; */
	height: 31px;
	font-size: 1.2rem;
	padding: 6px;
	background-color: var(--bitcoin-orange);
	border-radius: 8px;
	color: var(--just-white);
}
.recomendado-second {
	/* width: 120px; */
	height: 31px;
	font-size: 1.2rem;
	padding: 6px;
	background-color: #0791e6;
	border-radius: 8px;
	color: var(--just-white);
}
.recomendado-third {
	/* width: 120px; */
	height: 31px;
	font-size: 1.2rem;
	padding: 6px;
	background-color: var(--black);
	border-radius: 8px;
	color: var(--just-white);
}
.plan-card--title {
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--black);
}
.plan-card--price {
	padding: 5px 0;
	font-size: 5.2rem;
	font-weight: bold;
	line-height: 5.3rem;
	color: var(--black);
}
.plan-card--price span {
	font-size: 1.2rem;
	font-weight: 300;
	vertical-align: 2.4rem;
}
.plan-card--saving {
	font-size: 1.2rem;
	color: #757575;
}
.plan-card--ca {
	width: 150px;
	height: 48px;
	margin-top: 10px;
	background-color: var(--off-white);
	border: 2px solid var(--bitcoin-orange);
	border-radius: 4px;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: var(--black);
	font-family: "DM Sans", sans-serif;
}
.plan-card--ca span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("assets/icons/orange-right-arrow.png");
	vertical-align: text-bottom;
}

footer {
	display: flex;
	width: 100%;
	height: 150px;
	background-color: var(--bitcoin-orange);
}
footer section {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}
footer .left ul {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	list-style: none;
}
.left li {
	margin: 10px 0;
}
.left a {
	text-decoration: none;
	color: var(--just-white);
}
